*,*::after,*::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
:root{

--primary-light-hsl:200,100%,91% ;
--primary-hsl:200,100%,50% ;
--primary-dark-hsl:200,100%,6% ;
--success-hsl:100,60% ,50%;
--error-hsl:0,60% ,50%;
}

.Full-screen-container{
    background-image: url(fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
 
}
.login-container{
    --color: hsl(var(--primary-dark-hsl),.7);
    background-color:var(--color);
    box-shadow: 0 0 15px 0 var(--color);
    padding: 40px 30px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
}
.login-title{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}
.form{
    display: flex;
    flex-direction:column;
    gap: 20px;
    color: white;
    margin-top: 40px;
}
.input-group{
    display: flex;
    flex-direction:column;
    gap: 7px;
}
.input-group label{
    color: white;
    font-weight: lighter;
  
}
.input-group input{
    font-size: 1.25rem;
    padding: .5em;
    background-color: hsl(var(--primary-light-hsl), .3);
    border: none;
    outline: none;
    border-radius: .25em;
    color: white;
    font-weight: lighter;
    width: 100%;
   
}
.input-group.success input{
    box-shadow: 0 0 0 2px hsl(var(--success-hsl));
}
.input-group.error input{
    box-shadow: 0 0 0 2px hsl(var(--error-hsl));
}
.input-group input:focus{
    box-shadow: 0 0 0 2px hsl(var(--primary-hsl));
}
.input-group {
    display: block;
    font-size: .75rem;
    color: red;
   
}
.input-group.success ,
.input-group.error {
    display: block;
}

.input-group.error {
    color: hsl(var(--error-hsl));
}
.input-group.success {
    color: hsl(var(--success-hsl));
}
.login-button{
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: hsl(var(--primary-hsl),0.25);
    border: 1px solid , hsl(var(--primary-hsl));
    border-radius: .25em;
    outline: none;
    cursor: pointer;

}
.login-button:hover,
.login-button:focus{
    background-color: hsl(var(--primary-hsl),.4 );
}
